
.content{

    position: absolute;
    box-align:right;
    top:70px;
    left :290px;
    width:1060px;
    height:580px;
    border:1px white solid;
    overflow-y: auto ;
    background-image: linear-gradient(to right,#073356, #041d31, #000);
}
.selection{
    padding-left: 50px;
}
.content .selection tr td {
    width: 300px;
    padding-left: 150px;
    padding-bottom:15px;
}
.content .selection tr th {
    width: 500px;
    padding-bottom: 15px;
}
.content .result{
    border-top:1px white solid;
    color: #ffffff;
}
.content .result th{

    color: #ffffff;
    text-align: center;
    padding-bottom: 30px;
}
.content .result tr{
    border: 1px solid black;
    color: #ffffff;
    text-align: center;
}
.content .result td {
    width: 300px;
    padding-left: 20px;
    height: 30px;
}

.heading{
    width: 100%;
    background-color:#000;

    color: #ffffff;
    padding: 10px 10px 10px 0px;
    text-align: center;

}
.label{
    width: 500px;
    color: white;
    font-family: "Roboto", sans-serif;
}
.input{
    position: relative;
    float: right;
    line-height: 25px;
    border-radius: 6px;
    width: 100%;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #000;
    padding-left: 10px;
}

.Show{
    border:2px rgb(0, 0, 0) solid;
    border-radius: 12px;
}
.Show:hover{
    color: #1f9cf3;
    border:2px solid #073356;
    transition:300ms;
}
.content .result table tr:not(:first-child){
    cursor: pointer;transition: all .25s ease-in-out;
}
.content .result table tr:not(:first-child):hover{background-color: #041d31;}

@media screen and (max-width: 1100px){
    .content{
        grid-gap: 5rem;
        top:0;
        left :0;
        height: 100%;
        margin: 10px;
    }
    .main-menu{
        display: none;
    }
    .head{
        display: none;
    }

}
@media screen and (max-height: 580px){
    .content{
        grid-gap: 5rem;
        top:0;
    }
    .head{
        display: none;
    }
}