# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\UCSC\2nd Year\1st Sem\SCS2202  IS2102 Group Project I\implementation\InteliJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
